<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KONI - Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
<img src="{{ url_for('static', filename='images/portfolio-image.jpg') }}" alt="Portfolio Image">
xs
</head>
<body>
    <header>
        <h1></h1>
        <p> Hello Devops Engineer </p>
    </header>
    
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#relatedworks">Related works</a></li>
            <li><a href="#contact">Contacts</a></li>
        </ul>
    </nav>

    <section id="about">
        <h2>Welcome</h2>
        <p>Welcome to Koni's portion of the internet.</p>
    </section>

    

    <section id="contact">
        <h2>Contact Me</h2>
        <p>Email: armandnarcissk@gmail.com.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/armand-narcisse-koni-15a252132/">My linkedin profile</a></p>
        <p>GitHub: <a href="https://github.com/thedovekana"> My Github profile</a></p>
    </section>
.
    <footer>
        <p>&copy; 2023 Armand Narcisse KONI</p>
    </footer>
</body>
</html>
